{% extends "base.html" %}

{% block head2 %}
	{% if other_user %}
		<title>{{other_user}}'s Blog</title>
	{% else %}
		<title>My Blog</title>
	{% endif %}
{% endblock %}

{% block content %}

{% if user and not other_user%}
	<div class="row">
		<div class="col-sm-12">
			<form action="/blog/newpost">
				<button type="sumbit" class="btn btn-primary btn-lg btn-block">+ Blog Post</button>
			</form>
		</div>
	</div>
{% endif %}


<div class="row">
	{% for blogpost in posts %}
		<div class="col-sm-12">
			<a href="/blog/{{blogpost.key().id()}}"><h3>{{blogpost.subject}}</h3></a>
			<p>{{blogpost.blog}}</p>
		</div>
	{% endfor %}
</div>
{% endblock %}