{% extends "base2.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<h3>{{blogpost.subject}}</h3>
		<p>{{blogpost.blog}}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-right">
		{% if can_like %}
			<form method="post">
				<button class="no-style-button">
					<span class="like-style">♥</span>
					{% if not blogpost.like_count %}
						0
					{% else %}
						{{blogpost.like_count}}
					{% endif %}
				</button>
			</form>
		{% else %}
			<span class="like-style">♥</span>
			{% if not blogpost.like_count %}
				0
			{% else %}
				{{blogpost.like_count}}
			{% endif %}
		{% endif %}

	</div>

{% endblock %}