<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		{% endblock %}
		{% block head2 %}
		{% endblock %}
		<link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Teko" rel="stylesheet">
		<meta http-equive="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<div class="container-fluid page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-8 col-xs-12">
						<h2><a class="site-header" href="{% block header_link %}{% endblock%}">❇ Full Stack Blog Project ❇</a></h2>
					</div>

					<div class="col-md-6 col-sm-4 col-xs-12">
						<div class="text-right my-nav-bar">
							<ul class="list-inline">
								{% if not user %}
									<li><a href="/signin">Sign In</a></li>
									<li><a href="/newaccount">Create Account</a></li>
								{% else %}
									<li>Hi, {{user.username}}</li>
									<li><a href="/blog">My Blog</a></li>
									<li><a href="/logout">Log Out</a></li>
								{% endif %}
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container page-body">
			{% block body %}
			{% endblock %}
		</div>

	</body>
</html>